---
- name: Install security tools
  community.general.pacman:
    name: "{{ security_tools }}"
    state: present
  become: true
  tags:
    - security
    - clamav
    - ufw

- include: clamav.yml
- include: ufw.yml
