---
- name: Install or Update gnome
  community.general.pacman:
    name: "{{ gnome }}"
    state: present
  become: true
  tags:
    - gnome

- name: Configure favourite apps in Gnome
  dconf:
    key: /org/gnome/shell/favorite-apps
    value: "['firefox.desktop', 'google-chrome.desktop', 'spotify.desktop', 'jetbrains-idea.desktop',
      \ 'jetbrains-goland.desktop', 'visual-studio-code.desktop', 'emacs.desktop',
      \ 'slack.desktop', 'signal-desktop.desktop', 'org.kde.kdenlive.desktop', 'terminator.desktop']"
    state: present
  become_user: "{{ user_name }}"
  become: true
  tags:
    - gnome
    - gnome-favourite

- name: Configure top bar
  import_tasks: top-bar.yml

- name: Configure peripherals
  import_tasks: peripherals.yml

- name: Configure keyboard shortcuts
  import_tasks: keyboard-shortcuts.yml

- name: Configure screensaver
  import_tasks: screensaver.yml

- name: Configure Dash to dock
  import_tasks: dash-to-dock.yml

- name: Configure Window titlebars
  import_tasks: window-titlebars.yml
