---
- name: Install PyTesseract
  ansible.builtin.pip:
    name: pytesseract
    state: present
  become: true
  tags:
    - pip
    - development
    - tesseract

- name: Install Tesseract
  community.general.pacman:
    name: "{{ tesseract }}"
    state: present
  become_user: root
  become: true
  tags:
    - development
    - tesseract

- name: Ensure TESSDATA_PREFIX is set
  ansible.builtin.lineinfile:
    path: /home/{{ user_name }}/.zshrc
    regexp: ^TESSDATA_PREFIX=
    line: TESSDATA_PREFIX=/usr/share/tessdata/
  tags:
    - development
    - tesseract
