---
- name: Install virtualization tools
  community.general.pacman:
    name: "{{ virtualization }}"
    state: present
  become: true
  tags:
    - virtualization

- name: Get the Linux kernel version
  register: kernel_version
  ansible.builtin.shell: |
    set -o pipefail
    uname -r | awk -F. '{ print $1$2 }'
  changed_when: false
  tags:
    - virtualization

- name: Install the relevant virtualbox-host-modules
  community.general.pacman:
    name: linux{{ kernel_version.stdout }}-virtualbox-host-modules
    state: present
  become: true
  tags:
    - virtualization

- name: Load the vboxdrv module
  community.general.modprobe:
    name: vboxdrv
    state: present
  become: true
  tags:
    - virtualization
    - modprobe

- name: Load the vboxnetadp module
  community.general.modprobe:
    name: vboxnetadp
    state: present
  become: true
  tags:
    - virtualization
    - modprobe

- name: Load the vboxnetflt module
  community.general.modprobe:
    name: vboxnetflt
    state: present
  become: true
  tags:
    - virtualization
    - modprobe

- name: Install Oracle VM VirtualBox Extension Pack
  ansible.builtin.shell: |
    set -o pipefail
    pamac build -d --no-confirm virtualbox-ext-oracle | grep "is up to date"
    if [ $? != 0 ]; then
      pamac build --no-confirm virtualbox-ext-oracle
    fi
  register: command_result
  failed_when: command_result.rc != 0
  changed_when: "'successfully' in command_result.stdout"
  become: true
  tags:
    - virtualization
    - oracle
    - aur
