---
- name: Install Developer Tools
  pacman:
    name: '{{ developer_stack }}'
    state: present
  become_user: 'root'
  become: yes
  tags:
    - dev-tools

- name: Install Developer Tools from Arch User Repository
  shell: |
    pamac build -d --no-confirm {{ item }} | grep "is up to date"
    if [ $? != 0 ]; then
      pamac build --no-confirm {{ item }}
    fi
  with_items: '{{ developer_stack_aur }}'
  register: command_result
  failed_when: command_result.rc != 0
  changed_when: "'successfully' in command_result.stdout"
  become: true
  tags:
    - dev-tools
    - aur

- include: nvm.yml

- include: docker-config.yml
- include: emacs-config.yml
